@CHARSET "UTF-8";

body {
	margin: 0px auto;
	width: 100%;
	float: center;
	color: #000000;
	background: #EEE9ED;
	font-family: 'メイリオ', Meiryo, sans-serif;
}

#login, loginbox {
	margin: 100px auto;
	padding: 50px;
	background: #ffffff;
	width: 300px;
	height: 300px;
	border: 5px solid #EEE9ED;
	webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.loginbutton {
	background: #ffb5da;
	border-color: transparent;
	cursor: pointer;
	font-family: 'メイリオ', Meiryo, sans-serif;
	font-size: 150%;
	width: 180px;
	height: 50px;
	webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-moz-transition: -moz-transform 1s linear;
	-webkit-transition: -webkit-transform 1s linear;
	-o-transition: -o-transform 1s linear;
	-ms-transition: -ms-transform 1s linear;
	transition: transform 1s linear;
}

.loginbutton:hover {
	position: relative;
	top: 2px;
	left: 2px;
	opacity: 0.8;
	-moz-transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	transform: rotate(30deg);
}

#logincenter {
	text-align: center;
}

#idpass {
	text-align: right;
}

